
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .search-section {
    display: flex;
    align-items: center;

    img {
      width: 70px;
      height: 70px;
      padding-left: var(--extra-lg);
      cursor:pointer;
    }

    .search {
      display: flex;
      background: var(--color-grey-010);
      border: 1px solid  var(--color-grey-020);
      border-radius: var(--xxl);
      padding:var(--xl);
      gap: var(--xl);

      width: 400px;

      input {
        border: none;
        cursor:pointer;
        background: transparent;
        &:focus {
          outline: none;
        }
      }

      i {
        font-size:var(--xl);
        cursor:pointer;
      }
    }
  }

  .notification {
    display: flex;
    align-items: center;
    gap: var(--xl);
    padding-right: var(--xl);

    img {
      width: 35px;
      height: 35px;
      border-radius: 50%;
      cursor:pointer;
    }

    i {
      font-size: var(--huge);
      cursor:pointer;
    }
  }
}
