<h1 *ngIf="data.onEditMode == true">On edit mode on</h1>
<h1 *ngIf="data.onEditMode == false">Create mode on</h1>

<form [formGroup]="clientFormGroup">
  <input type="text" placeholder="name" formControlName="name" />
  <select name="" id="entity" formControlName="entity">
    <option value="Individual">Individual</option>
    <option value="Legal-Person">Legal-Person</option>
  </select>
  <input type="text" placeholder="cui" formControlName="cui" />
  <input type="text" placeholder="cnp" formControlName="cnp" />
  <input type="text" placeholder="address" formControlName="address" />
  <input type="text" placeholder="city" formControlName="city" />
  <input type="text" placeholder="country" formControlName="country" />
  <input
    type="text"
    placeholder="contactPersonName"
    formControlName="contactPersonName"
  />
  <input type="text" placeholder="phone" formControlName="phone" />
  <input type="text" placeholder="email" formControlName="email" />
  <input type="text" placeholder="website" formControlName="website" />
  <button *ngIf="data.onEditMode == true" (click)="onSaveClientsForm()">
    Edit client !
  </button>
  <button *ngIf="data.onEditMode == false" (click)="createClients()">
    Create client !
  </button>
</form>
