<h1>Config</h1>

<form action="" [formGroup]="configFormGroup">
  <input type="text" placeholder="batchNumber" formControlName="batchNumbers" />
  <div class="iban" formGroupName="iban">
    <input type="text" placeholder="ron" formControlName="ron" />
    <input type="text" placeholder="euro" formControlName="euro" />
    <input type="text" placeholder="usd" formControlName="usd" />
  </div>
  <ng-container *ngIf="configs$ | async as configs">
    <select formControlName="company">
      <option [value]="null" disabled>Selecteaza config</option>
      <option *ngFor="let config of configs" [value]="config._id">
        {{ config.batchNumbers }}
      </option>
    </select>
  </ng-container>
  <button mat-raised-button (click)="createConfigs()">Create config</button>
</form>
<pre>{{ configFormGroup.value | json }}</pre>
