
.table {
  .table-head {
    flex:1;
    display: flex;


    .head-cell {
      flex:1;
      padding: var(--lg);
      border-bottom: 1px solid var(--color-grey-020);
    }
  }

  .row {
    display: flex;
    &:nth-child(odd){
      background:var(--color-grey-020);
    }

    .cell {
      flex:1;
      padding: var(--lg);
      &.yes{
        color: var(--color-green-010);
        font-weight: bold;
      }

    }
    .no{
      color:red;
    }
  }

}
