<h1>USERS</h1>

<div class="container">
  <div class="table-head">
    <div class="head-cell">Username</div>
    <div class="head-cell">FullName</div>
    <div class="head-cell">isAdmin</div>
    <div class="head-cell">isActive</div>
  </div>
  <div class="row">
    <div class="cell">TheRank</div>
    <div class="cell">Petrut Poenaru</div>
    <div class="cell yes">Yes</div>
    <div class="cell yes">Yes</div>
  </div>
  <div class="row">
    <div class="cell">LeagueOfRapeni</div>
    <div class="cell">Talon</div>
    <div class="cell yes">Yes</div>
    <div class="cell yes">Yes</div>
  </div>
  <div class="row">
    <div class="cell">BostanBostan</div>
    <div class="cell">la2lei</div>
    <div class="cell yes">Yes</div>
    <div class="cell yes">Yes</div>
  </div>
</div>
