<h1>USERS</h1>

<div class="table">
  <div class="table-head">
    <div class="head-cell">Username</div>
    <div class="head-cell">FullName</div>
    <div class="head-cell">isAdmin</div>
    <div class="head-cell">isActive</div>
  </div>
  <ng-container *ngIf="users$ | async as users">
    <div *ngFor="let user of users" class="row">
      <div class="cell">{{ user.username }}</div>
      <div class="cell">{{ user.fullName }}</div>
      <div class="cell yes" *ngIf="user.isActive == true; else no">Yes</div>
      <ng-template #no class="no cell"
        ><div class="no cell">no</div></ng-template
      >
      <div class="cell yes" *ngIf="user.isAdmin == true; else no">Yes</div>
    </div>
  </ng-container>
</div>
