
form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  .title {
    font-size: var(--mega);
    line-height: 29px;
    color:var(--color-grey-030);

    span {
      color: var(--color-blue-010);
      font-weight: 600;
    }
  }

  .redirect {
    margin-bottom: var(--huge);
    margin-top: 0;
    padding: 0;
    color:black;
    text-decoration: none;

    span {
      text-decoration: underline;
    }
  }

  .input-box {
    display: flex;
    flex-direction: column;

    width: 300px;
    margin-top: var(--huge);

    input {
      width: 100%;
      margin-top: var(--extra-lg);
      margin-bottom: var(--extra-lg);
      padding-bottom: 5px;

      border: none;
      border-bottom: 1px solid black;

      &::placeholder {
        font-size: 14px;
        line-height: var(--xxl);
      }

      &:focus {
        outline: none;
      }
    }
  }

  button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: var(--extra-lg);
    margin-top: var(--gigant);
    width: 580px;
    border: none;

    color: #fff;
    background: var(--color-blue-010);
    cursor: pointer;
    border-radius: var(--lg);

    &:hover {
      opacity: 70%;
    }
  }
}
