<h1>Clients</h1>

<div class="table">
  <div class="table-head">
    <div class="head-cell">Name</div>
    <div class="head-cell">Entity</div>
    <div class="head-cell">Cui/Cnp</div>
    <div class="head-cell">City</div>
    <div class="head-cell">Country</div>
    <div class="head-cell">Zipcode</div>
    <div class="head-cell">Phone</div>
    <div class="head-cell">Email</div>
    <div class="head-cell">Website</div>
    <div class="head-cell">Edit Client</div>
  </div>
  <ng-container *ngIf="clients$ | async as clients">
    <div *ngFor="let client of clients" class="row">
      <div class="cell">{{ client.name }}</div>
      <div class="cell">{{ client.entity }}</div>
      <div *ngIf="client.entity == Individual; else cui" class="cell">
        {{ client.cnp }}
      </div>
      <ng-template #cui
        ><div class="cell">{{ client.cui }}</div></ng-template
      >
      <div class="cell">{{ client.city }}</div>
      <div class="cell">{{ client.country }}</div>
      <div class="cell">{{ client.zipcode }}</div>
      <div *ngIf="client.phone; else no" class="cell icon">
        <i class="demo-icon icon-newspaper"></i>
      </div>
      <div *ngIf="client.email; else no" class="cell icon">
        <i class="demo-icon icon-lock"></i>
      </div>
      <div *ngIf="client.website; else no" class="cell icon">
        <i class="demo-icon icon-monitor"></i>
      </div>
      <div class="cell icon">
        <i (click)="editClient(client)" class="demo-icon icon-monitor"></i>
      </div>
      <ng-template #no><div class="X-sing cell">X</div></ng-template>
    </div>
  </ng-container>
</div>
<button mat-button color="primary" (click)="createClient()">
  Create clients
</button>
