
.table {
  display: block;

  .table-head {
    flex: 1;
    display: flex;


    .head-cell {
      flex: 1;
      padding: 8px;
      border-bottom: 1px solid var(--color-grey-020);
    }
  }

  .row {
    display: flex;
    align-items: center;
    &:nth-child(odd){
      background: var(--color-grey-020);
    }

    .cell {
      width: 190px;
      padding: 8px;
      &.icon{

        text-align: left;
      }
      &.X-sing {
        color:red;
        font-weight: bold;
        font-size: 16px;

      }
    }
  }

}
button{
  display: flex;
  margin-top: 20px;


  &:hover {
    opacity: 70%;
  }
}
