<form action="" [formGroup]="featureFormGroup">
  <input type="text" placeholder="name" formControlName="name" />
  <select name="" id="unit" formControlName="unit">
    <option value="Piece">Piece</option>
    <option value="Hour">Hour</option>
    <option value="Day">Day</option>
    <option value="Product">Product</option>
  </select>
  <input type="number" placeholder="price" formControlName="price" />
  <select name="" id="currency" formControlName="currency">
    <option value="Ron">Ron</option>
    <option value="€">€</option>
    <option value="$">$</option>
  </select>
  <button *ngIf="data.onEditMode == true" (click)="createFeature()">
    Edit feature
  </button>
  <button *ngIf="data.onEditMode == false" (click)="createFeature()">
    Create feature
  </button>
</form>
