

.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  .copyright{
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #6B7280;
  }
  .pages{
    font-size:18px;
    display: flex;
    gap:12px;
    i{
      cursor: pointer;
    }
  }
}
