<form action="" [formGroup]="loginFormGroup">
  <p class="title">Login to <span>Ace</span></p>
  <a class="redirect" [routerLink]="['/register']"
    >You don't have an account? <span> Create one!</span></a
  >
  <div class="input-box">
    <span>Username</span>
    <input formControlName="username" type="text" placeholder="Username" />
  </div>
  <div class="input-box">
    <span>Password</span>
    <input formControlName="password" type="text" placeholder="Password" />
  </div>
  <button (click)="login()">Login</button>
</form>
