.sidenav {
  font-family: Poppins;
  .sidenav-nav {
    list-style: none;
    padding-left: 32px;

    .sidenav-nav-item {
      padding-top: 25px;
      font-size:18px;
      .sidenav-nav-link {
        display: flex;
        gap:12px;
        align-items: center;

        color: black;
        text-decoration: none;
      }
    }
  }
}
