.sidenav {
  .sidenav-nav {
    list-style: none;
    padding-left: var(--gigant);

    .sidenav-nav-item {
      padding-top:  var(--mega);
      font-size:var(--semi-huge);
      .sidenav-nav-link {
        display: flex;
        gap:var(--xl);
        align-items: center;

        color: black;
        text-decoration: none;
      }
    }
  }
}
