.sidenav {
  .sidenav-nav {
    list-style: none;

    .sidenav-nav-item {
      padding-top: 5px;
      .sidenav-nav-link {
        display: flex;
        gap:12px;
        color: black;
        text-decoration: none;
      }
    }
  }
}
