
form {
    display: none;
    width: 400px;
    gap: var(--mega);
    &.visible{
      display: flex;
      flex-direction: column;
    }
    input {
      width: 100%;
      padding: var(--md) var(--xl);
      border-radius: 15px;
      border: 2px solid var(--color-grey-020);

      &::placeholder {
        font-size: 14px;
        line-height: 16px;
      }
    }

    select {
      padding: var(--md) var(--xl);
      border-radius: var(--xxl);
      border: 2px solid var(--color-grey-020);
    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 15px;
      width: 200px;
      padding: var(--md);
      border: none;

      color: #fff;
      background: var(--color-blue-010);
      cursor: pointer;
      border-radius:var(--md);

      &:hover {
        opacity: 70%;
      }
    }
  }
.table {
  display: none;
  &.visible{
    display: block;
  }
  .table-head {
    flex: 1;
    display: flex;


    .head-cell {
      flex: 1;
      padding: 8px;
      border-bottom: 1px solid  var(--color-grey-020);
    }
  }

  .row {
    display: flex;
    align-items: center;
    &:nth-child(odd){
      background:  var(--color-grey-020);
    }

    .cell {
      flex: 1;
      width: 190px;
      padding: var(--lg);
      &.icon{

        text-align: left;
      }
      &.X-sing {
        color:red;
        font-weight: bold;
        font-size: var(--xxl);

      }
    }
  }

}
button{
  display: none;
  margin-top: var(--huge);
  &.visible{
    display: flex;
  }
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: var(--md);
  color: black;
  border:4px solid var(--color-blue-010);;
  cursor: pointer;
  border-radius: var(--xxl);

  &:hover {
    opacity: 70%;
  }
}
