@import '../../../shared/scss/colors';

form {
    display: none;
    width: 400px;
    gap: 25px;
    &.visible{
      display: flex;
      flex-direction: column;
    }
    input {
      width: 100%;
      padding: 6px 12px;
      border-radius: 15px;
      border: 2px solid $color-grey-020;

      &::placeholder {
        font-size: 14px;
        line-height: 16px;
      }
    }

    select {
      padding: 6px 12px;
      border-radius: 15px;
      border: 2px solid $color-grey-020;
    }

    button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-top: 15px;
      width: 200px;
      padding: 7px;
      border: none;

      color: #fff;
      background: #0078F0;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        opacity: 70%;
      }
    }
  }
.table {
  display: none;
  &.visible{
    display: block;
  }
  .table-head {
    flex: 1;
    display: flex;


    .head-cell {
      flex: 1;
      padding: 8px;
      border-bottom: 1px solid $color-grey-020;
    }
  }

  .row {
    display: flex;
    align-items: center;
    &:nth-child(odd){
      background: $color-grey-020;
    }

    .cell {
      flex: 1;
      width: 190px;
      padding: 8px;
      &.icon{

        text-align: left;
      }
      &.X-sing {
        color:red;
        font-weight: bold;
        font-size: 16px;

      }
    }
  }

}
button{
  display: none;
  margin-top: 20px;
  &.visible{
    display: flex;
  }
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 7px;
  color: black;
  border:4px solid #0078F0;
  cursor: pointer;
  border-radius: 15px;

  &:hover {
    opacity: 70%;
  }
}
