<h1>Features</h1>

<div class="table">
  <div class="table-head">
    <div class="head-cell">Name</div>
    <div class="head-cell">Unit</div>
    <div class="head-cell">Price</div>
    <div class="head-cell">Currency</div>
    <div class="head-cell">Edit feature</div>
  </div>
  <ng-container *ngIf="feature$ | async as features">
    <div *ngFor="let feature of features" class="row">
      <div class="cell">{{ feature.name }}</div>
      <div class="cell">{{ feature.unit }}</div>
      <div class="cell">{{ feature.price }}</div>
      <div class="cell">{{ feature.currency }}</div>
      <div class="cell icon">
        <i (click)="editFeature(feature)" class="demo-icon icon-monitor"></i>
      </div>
    </div>
  </ng-container>
</div>
<button mat-button color="primary" (click)="createFeature()">
  Create features
</button>
