:root {
  //COLORS

  --color-grey-010: #F9FAFB;
  --color-grey-020: #E5E7EB;
  --color-grey-030: rgba(0, 0, 0, 0.65);

  --color-green-010: #11bb11;

  --color-blue-010: #0078F0;

  // SIZEZ

  --tiny: 2px;
  --xs: 4px;
  --md: 6px;
  --lg: 8px;
  --extra-lg: 10px;
  --xl: 12px;
  --xxl: 16px;
  --semi-huge: 18px;
  --huge: 20px;
  --mega: 25px;
  --gigant: 32px;
}
