@import '../../../shared/scss/colors';


.table {
  .table-head {
    flex: 1;
    display: flex;


    .head-cell {
      flex: 1;
      padding: 8px;
      border-bottom: 1px solid $color-grey-020;
    }
  }

  .row {
    display: flex;
    align-items: center;
    &:nth-child(odd){
      background: $color-grey-020;
    }

    .cell {
      flex: 1;
      width: 190px;
      padding: 8px;
      &.icon{

        text-align: left;
      }
      &.X-sing {
        color:red;
        font-weight: bold;
        font-size: 16px;

      }
    }
  }

}
