
.table {
  .table-head {
    flex: 1;
    display: flex;

    .head-cell {
      flex: 1;
      padding: var(--lg);
      border-bottom: 1px solid var(--color-grey-020);
    }
  }

  .row {
    display: flex;
    align-items: center;

    &:nth-child(odd) {
      background: var(--color-grey-020);
    }

    .cell {
      flex: 1;
      width: 190px;
      padding: var(--lg);

      &.icon {

        text-align: left;
      }

      &.X-sing {
        color: red;
        font-weight: bold;
        font-size: var(--xxl);
      }
    }
  }
}
