
.icon-search:before { content: '\e800'; } /* '' */
.icon-users:before { content: '\e801'; } /* '' */
.icon-users-1:before { content: '\e802'; } /* '' */
.icon-newspaper:before { content: '\e803'; } /* '' */
.icon-lock:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-network:before { content: '\e806'; } /* '' */
.icon-monitor:before { content: '\f032'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-euro:before { content: '\f153'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
