.dashboard {
  app-footer {
    position: fixed;
    width: 100%;
    bottom: var(--extra-lg);
  }

  .content {
    display: flex;
    app-sidenav{
      width: 500px;
    }
   .router-wrapper{
     width: 100% ;
     align-self: center;
   }

  }
}
