.dashboard {

  app-footer {
  }

  .content {
    display: flex;
    height: 100vh;
    app-sidenav {
      width: 500px;
    }

    .router-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      app-footer{
        margin-top: auto;
      }
    }
  }
}
